@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    font-family: Baskervville, serif;
    /* background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 0%, rgb(1, 72, 113) 50%, rgb(2, 140, 221) 100%); */
    background-image: url("../../media/background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: fadeIn;
    animation-duration: 4s;
}

p {
    font-size: 20px;
    letter-spacing: 0.7px;
}

.v {
    color: white;
}

.h1 {
    text-align: center;
    font-size: 3em;
}

.h1, #wrapper {
    letter-spacing: 0.7px;
    color: white;
}

#wrapper, .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#wrapper {
    width: 60%;
}

#updates {
    width: 100%;
}

#updates h1, #updates i {
    text-align: center;
}

#coverImg {
    object-fit: contain;
    width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 5px 20px 5px;
}
/* 
.imgs {
    width: 50%;
} */

a {
    color: white;
}

@media screen and (max-width: 800px) {
    .h1 {
        font-size: 2em;
    }

    p {
        font-size: 15px;
    }

    #note, #wrapper {
        width: 80%;
    }

    .imgs {
        width: 100%;
    }
}