body {
    font-family: Baskervville, serif;
    /* background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 0%, rgb(1, 72, 113) 50%, rgb(2, 140, 221) 100%); */
    background-image: url("../../pictures/background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 20px;
    letter-spacing: 0.7px;
}

.v {
    color: white;
}

.nav_list {
    overflow: hidden;
    padding-left: 3%;
}
  
.nav_list a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_list element {
    padding: 50px;
    padding-left: 50px;
    display: inline;
}

.nav_list:hover {
    color: blue;
}

.h1 {
    text-align: center;
    font-size: 3em;
}

.h1, #wrapper {
    letter-spacing: 0.7px;
    color: white;
}

#wrapper, .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#wrapper {
    width: 60%;
}

#updates {
    width: 100%;
}

#updates h1, #updates i {
    text-align: center;
}

#coverImg {
    object-fit: contain;
    width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 5px 20px 5px;
}

@media screen and (max-width: 800px) {
    .h1 {
        font-size: 2em;
    }

    p {
        font-size: 15px;
    }

    #note, #wrapper {
        width: 80%;
    }

    #coverImg {
        width: 200px;
    }
}