body {
    font-family:Baskervville, serif;
    background: rgb(16,24,32);
    background: linear-gradient(180deg, rgba(16,24,32,1) 0%, rgba(4,88,136,1) 50%, rgba(0,161,251,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

p {
    font-size: 20px;
}

.h1, #desc {
    text-align: center;
}

.h1 {
    font-size: 3em;
}

#theDesigns, .art-section {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: auto;
}

#theDesigns {
    flex-direction: row;
    gap: 30px;
}

.art-section {
    flex-direction: column;
    border-bottom: none;
    border-right: 2px solid azure;
    padding-right: 20px;
}

.card {
    width: 50%;
    margin: auto;
}

.character {
    width: 50%;
}

@media screen and (max-width: 1000px) {
    #theDesigns {
        flex-direction: column;
    }

    .art-section {
        flex-direction: column;
        width: 90%;
        margin: auto;
        border-right: none;
        border-bottom: 2px solid azure;
        padding-right: 20px;
    }

    img {
        height: 80%;
        width: 80%;
    }
}